.banner
{
    background-color: white;
    text-align: left;
    height:15%;
    width:100%;
    font-size:20px;
    padding: 10px 5px 5px 20px;


}
.tab
{
    background-color: white;
    text-align: left;
    height:15%;
    width:20%;
    font-size:15px;
    padding: 10px 5px 5px 20px;


}