.course
{
    background-color:orange;
}

.course_lab
{
    text-align: left;
    padding-left:20px;
    border-radius:0;

    margin-right: 40px;
    margin-left:5px;
    border-style:outset;
    border-width:1px;
    margin-top: 5px;
    background-color: #5cab86;
}

.course_lab:hover,.course_lab:active
{

    background-color: #358f96;
}

.name {
    float: left;
    /*width: 80%;*/
}

.date {
    float: right;
    /*width: 20%;*/

}
