
.buttons
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 10px;
    /*color:black;*/
    /*    last one is right margin*/
}

.images
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 0px;
    padding-left:0;
}

.lab_title_label
{
    font-size: 25px;
    color: #ecffff;
    font-weight: bold;
    position: relative;
    font-family:serif;
    height:35px;
    /*border-bottom: 1px dotted black;*/
    /*border: 1px dotted blue;*/
}

.lab_title_label:hover  {
    visibility: visible;
    color: #1e276d;

}
.lab_title_input
{
    height:37px;

}

.equips
{
    display:inline-block;
}
.pop
{
    z-index: 1;
    cursor:copy;
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

.popover{
    max-width: 350px;
}
.btn {
    margin-right: 5px;
    border-radius: 5px;
}

.col1{
    width: 90%;
}
.col2{
    width: 10%;
}

.inputWarning{
    color: red;
    max-width: available;
}

.workspace{
    max-height: none;
}

.import{

     background-color: transparent;
     color: #4c76ff;
    margin-left:5px;
     letter-spacing: 0.4px;
     font-size: .67rem;
     text-transform: uppercase;
        display:inline-block;

 }

.config_image
{
    width:25px;
    height:25px;
    margin: 0px 0px 0px 10px;
    transition:all .3s;
    cursor:pointer;
    /*    last one is right margin*/
}
.save_image
{
    width:30px;
    height:30px;
    margin: 0px 0px 0px 10px;
    transition:all .3s;
    cursor:pointer;
    /*    last one is right margin*/
}
.restart_image
{
    width:25px;
    height:28px;
    margin: 0px 0px 0px 10px;
    transition:all .3s;
    cursor:pointer;



}
.restart_image:hover
{
    box-shadow :0px 15px 25px -5px ;
}
.restart_image:active
{
    box-shadow :0px 4px 8px ;
    transform :scale(.98);
}

.config_image:active
{
    box-shadow :0px 4px 8px ;
    transform :scale(.98);
}
.config_image:hover
{
    box-shadow :0px 15px 25px -5px ;
}
.save_image:active
{
    box-shadow :0px 4px 8px ;
    transform :scale(.98);
}
.save_image:hover
{
    box-shadow :0px 15px 25px -5px ;
}

#nav-dropdown
{

}