
.buttons
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 10px;
    /*color:black;*/
    /*    last one is right margin*/
}

.images
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 0px;
    padding-left:0;
}

.lab_title_label
{
    font-size: 25px;
    color: gray;
    font-weight: bold;
    position: relative;
    /*border-bottom: 1px dotted black;*/
    /*border: 1px dotted blue;*/
}

.lab_title_label:hover  {
    visibility: visible;
    color: blue;

}