
.buttons
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 10px;
    /*color:black;*/
    /*    last one is right margin*/
}

.images
{
    width:35px;
    height:35px;
    margin: 0px 0px 0px 0px;
    padding-left:0;
}

.lab_title_label
{
    font-size: 25px;
    color: gray;
    font-weight: bold;
    position: relative;
    /*border-bottom: 1px dotted black;*/
    /*border: 1px dotted blue;*/
}

.lab_title_label:hover  {
    visibility: visible;
    color: blue;

}

.equips
{
    display:inline-block;
}
.pop
{
    z-index: 1;
    cursor:copy;
}

aside {
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    /*width: 200px;*/
    /*background: rgba(255,255,255,0.66);*/
    /*border: 2px  solid rgba(0,0,0,0.5);*/
    /*border-radius: 4px; padding: 8px;*/
}