.equipment
{
    width:100%;
    color:black;
    background-color:transparent;
    border-radius:3px;

    border-style:solid;
    border-width:1px;
    margin-top:5px;

    user-select: none;
}

.equipment:active
{
    box-shadow :0px 4px 8px ;
    transform :scale(.98);

}
.equipment:hover
{
    background-color: #67a8a1;

}