.equipment
{
    width:100%;
    color: #000000;
    font-family:monospace;
    /*background-color:transparent;*/
    background-color: #67a8a1;
    border-radius:3px;

    border-style:solid;
    border-width:1px;
    margin-top:5px;

    user-select: none;
    cursor:pointer;

}

.equipment:active
{
    box-shadow :0px 4px 8px ;
    transform :scale(.98);
    outline:none;

}
.equipment:hover
{
    background-color: #76bdcc;

}

.column1 {

    float:left;
    padding-left:20px;
    width: 90%;
}

.columnTab
{
    float:left;
    padding-left:20px;
    width: 100%;
}
.column2 {
    float: right;
    width: 10%;
    margin-bottom: 5px;

}
.rowTab
{

    background-color: #84aac2;
    width:100%;
    height:50px;
    padding-top:10px;
    margin-top:5px;
    border-width:2px;
    border-style:outset;
    user-select:none;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
.informationPane
{
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    text-align: left;
    height:80%;
    margin-top:5px;
    background-color:#99c3d9;
    font-family:monospace;
}
.infoName
{
    margin-top:0;

    font-size:12px;
    font-family:monospace, serif;


}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;

}
.info{
    margin-top:0;

}
.infoState
{
    margin-top:0;
    font-size:12px;
    font-family:monospace, serif;
}
.equipmentListHeader
{
    border-style:solid;
    justify-content:center;
    align-items:center;
    border-width:1px;
    margin-top:10px;
    background-color: #8895b1;
    color:white;
    height:8vh;
}

.equipmentTitle
{
    height:5vh;
    width:9.4vh;
    color:black;
}

.equipmentCollapsible
 {
     margin-right:0;
     width:90%;
     height:50px;
     background-color: #b5c7c9;
     font-weight:bold;
     user-select: none;
 }
.equipmentCollapsible:hover
{

    background-color: #9fafb1;


}

.equipmentCollapsible1
{
    margin-right:0;
    width:100%;
    height:50px;
    background-color: #b5c7c9;
    font-weight:bold;
    user-select: none;
}
.equipmentCollapsible1:hover
{

    background-color: #9fafb1;


}
.disable
{
    padding-top: 5px;

    height:45px;
}
.disable:hover
{
    box-shadow :0px 4px 8px ;
}

.tabRow:after {
    content: "";
    display: table;
    clear: both;
}
.tabRow {


    display: flex;

    flex-wrap: wrap;

}


* {
    outline:0 !important;
}

