

.contain {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.submit:hover {
    background-color: royalblue;
}

.submit{
    background-color: #3ca1e1;
    border-radius:3px;
    width:200px;
    display:inline-block;
    margin-left:5px;

}
.tag
{
    display:inline-block;
    alignment: left;
    margin-top:10px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
    background-color: #008402;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.contain .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tab
{
    background-color: white;
    color: black;
    border: 0px solid #000000;
    margin-left:25px;
    padding: 10px 10px 10px 10px;
    width:140px;
    float:left;
}

.settingsH3
{
    color:black;
    text-align:left;
    font-family:arial regular;
    font-size:16px;



}
.box
{
    background-color: #b3b4af;
    margin-left:40px;
    margin-right:40px;
    border: 1px solid #000000;

}
.border
{
    border: 2px solid #000000;
}

.column1 {
    float: left;
    width: 90%;
}

.column2 {
    float: right;
    width: 10%;

}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
.row1 {


    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;

}